.footer {
  /* background: linear-gradient(to bottom, #10beb3 10%, #01c3b6 80%); */
  background: linear-gradient(to bottom, #006962 10%, #3b8686 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding: 5px 10%;
}

.logo {
  cursor: pointer;
}

.paw {
  width: auto;
  margin-top: 5px;
  height: 100px;
}

.li {
  display: inline-block;
  padding: 0px 100px;
  transition: all 0.1s;
}

.span {
  color: white;
  font-size: 1.5rem;
}

.span:hover {
  color: #06413d;
}
