.section {
  background-color: #f2f2f2;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services {
  background-color: white;
  height: 600px;
  width: 450px;
  margin-left: 200px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 7px 10px 9px -3px rgba(66, 66, 66, 0.78);
  transition: all 0.2s;
}

.servicestwo {
  background-color: white;
  height: 600px;
  width: 450px;
  margin-right: 200px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 7px 10px 9px -3px rgba(66, 66, 66, 0.78);
  transition: all 0.2s;
}

.services:hover {
  transform: scale(1.08);
}

.servicestwo:hover {
  transform: scale(1.08);
}

.dani {
  width: 450px;
  height: 526px;
  border-radius: 0 0 19px 19px;
}

.h3 {
  color: #01c3b6;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 2.1rem;
}
