.main {
  background-image: radial-gradient(
      circle at 40% 91%,
      rgba(251, 251, 251, 0.04) 0%,
      rgba(251, 251, 251, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 50%,
      rgba(229, 229, 229, 0.04) 100%
    ),
    radial-gradient(
      circle at 66% 97%,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 50%,
      rgba(46, 46, 46, 0.04) 100%
    ),
    radial-gradient(
      circle at 86% 7%,
      rgba(40, 40, 40, 0.04) 0%,
      rgba(40, 40, 40, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 50%,
      rgba(200, 200, 200, 0.04) 100%
    ),
    radial-gradient(
      circle at 15% 16%,
      rgba(99, 99, 99, 0.04) 0%,
      rgba(99, 99, 99, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 50%,
      rgba(45, 45, 45, 0.04) 100%
    ),
    radial-gradient(
      circle at 75% 99%,
      rgba(243, 243, 243, 0.04) 0%,
      rgba(243, 243, 243, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 50%,
      rgba(37, 37, 37, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(1, 195, 182), rgb(93, 207, 207));
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.vet {
  height: 700px;
  width: auto;
}

.h2 {
  color: white;
  font-size: 3rem;
  margin: 15px;
}

.formulario {
  margin-left: 250px;
}

.form {
  margin-bottom: 100px;
  input {
    margin: 10px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0;
  }
}

.btn {
  margin: 10px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  color: #006962;
  font-size: 1.3rem;
  border: 0;
}

.btn:hover {
  background-color: rgb(6, 65, 61);
  color: white;
}
